@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    width: 100vw;
}

img, a {
    display: block;
}

a {
    background-color: rgba(139, 0, 0, 0.582);
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

a:hover {
    font-size: 1.1em;
}
