@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

img {
    width: 100%;
}

a {
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

img, a {
    display: block;
}