@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') no-repeat top center/cover fixed;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

section#telefone {
    position: absolute;
    background: url('../imagens/frame-iphone.png') no-repeat center/contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
}

section#telefone > iframe {
    position: absolute;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 75%;
}

section#social {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 10px;
}

section#social img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
    transition: 0.6s;
}

section#social img:hover {
    transition: 0.6s;
    border: 1px solid white;
    transform: translate(-5px, -5px);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.623);
}

footer {
    background-color: #868181;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
    font-family: Verdana, Tahoma, sans-serif;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.6s;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(59, 48, 22);
}