@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') no-repeat top center/cover fixed;
    height: 100vh;
}

section#telefone {
    position: relative;
    background: url('../imagens/frame-iphone.png') no-repeat;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: absolute;
    top: 79px;
    left: 20px;
    border: none;
    width: 270px;
    height: 473px;
    display: block;
    background-color: black;
}

section#social {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section#social img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
    transition: 0.4s;
}

section#social img:hover {
    border: 1.5px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}